%h4 Daily Standup Report
%blockquote
  %p
    Only issues that are marked as
    %strong as open
    are shown.
%br
.row
  - Hash[ @bva_standup_report.sort_by { |key, val| key.to_s } ].each do |github_name, issues|
    .row
    %div
      %img{:alt => "", :src => issues.first[:assignee][:avatar_url], :style => "border-radius: 50%; height: 100px;width: 100px;overflow: hidden;"}/
      %h2{:style => "display: inline-block; padding-left: 15px;"}
        = github_name
        (#{issues.first[:assignee][:login]})
    = render "issues_table", issues: issues
    %br/
 