%h4 Daily Standup Report
%blockquote
  %table{data: {chart: 'line'}, class: 'table-hover' }
    %tbody
      - @bva_standup_report.each do |issue|
        %tr{:style => ('background-color: #fff3e0' if issue.key?("pull_request"))}
          %td
            %a{:href => issue["html_url"]}
              = "PR" if issue.key? "pull_request"
              \#{issue["number"]}
          %td= issue["title"]
          %td
            - issue["labels"].each do |l|
              .chip = l["name"]

            